@model MbmStore.Models.Movie
@using MbmStore.Models
@using MbmStore.Infrastructure

<div class="row">
    <div class="col-md-2">
        <img src="/Images/@Model.ImageUrl" alt="@Model.Title" style="width:100px" />
    </div>
    <div class="col-md-4">
        <strong>Title:</strong> @Model.Title<br />
        <strong>Director:</strong> @Model.Director<br />
        <strong>Price:</strong> @Model.Price<br />
    </div>
    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>

