@using MbmStore.ViewModels;
@using MbmStore.Infrastructure;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ProductsListViewModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalogue</title>
</head>
<body>
    @if (Model.Products.OfType<Movie>().ToList().Count > 0)
    {
        <div class="products" style="clear:both;">
            <h2>Movies</h2>
            @foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMovie", movie)
            }
        </div>
    }

    @if (Model.Products.OfType<Book>().ToList().Count > 0)
    {
        <div class="products" style="clear:both;">
            <h2>Books</h2>
            @foreach (Book book in Model.Products.OfType<Book>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryBook", book)
            }
        </div>
    }

    @if (Model.Products.OfType<MusicCD>().ToList().Count > 0)
    {
        <div class="products" style="clear:both;">
            <h2>Music CDs</h2>
            @foreach (MusicCD cd in Model.Products.OfType<MusicCD>().ToList())
            {
                @await Html.PartialAsync("_ProductSummaryMusicCD", cd)
            }
        </div>
    }

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">
    </div>
</body>
</html>
